{% extends "base.html" %}

{% block head %}
<title>Admin | Music AEKT</title>
{% endblock %}

{% block body %}
<div class="ui main text container" style="text-align: center">
  <br>
  <h1 class="ui header">Music Controller</h1>

  <p><button class="fluid ui button">Play</button></p>
  <p><button class="fluid ui button">Pause</button></p>
  <p><button class="fluid ui button">Stop</button></p>
  <p><button class="fluid ui button">Clear playlist</button></p>
  <p><button class="fluid ui button">Volume UP</button></p>
  <p><button class="fluid ui button">Volume Down</button></p>

  <!-- <div class="ui icon buttons">
    <button class="ui button mini disabled play-act" id="ctrl-prev"><i class="backward icon"></i></button>
    <button class="ui button mini disabled play-act" id="ctrl-play"><i class="icon play"></i></button>
    <button class="ui button mini disabled play-act" id="ctrl-next"><i class="forward icon"></i></button>
  </div> -->


</div>

{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}
