{% extends "base.html" %}

{% block head %}
<title>Music AEKT</title>
{% endblock %}

{% block body %}
<div class="ui main text container" style="text-align: center">
  <br>
  <h1 class="ui header">Music AEKT</h1>
  <p></p>

  <form class="ui form">
    <div class="field">
      <div class="ui icon input">
        <input type="text" name="music_link" placeholder="Paste link mp3.zing.vn ...">
        <i class="paste icon"></i>
      </div>
    </div>

    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden" name="terms">
        <label>Tôi hứa sẽ <strong><u>không next</u></strong> bài của các bạn</label>
      </div>
    </div>


    <input type="submit" class="ui button teal submit" value="Thêm vào playlist">

    <div class="ui error message"></div>
  </form>

  <br>
  <h3 class="ui header">Nhạc đang chơi</h3>

  <!-- <div class="ui icon buttons">
    <button class="ui button mini disabled play-act" id="ctrl-prev"><i class="backward icon"></i></button>
    <button class="ui button mini disabled play-act" id="ctrl-play"><i class="icon play"></i></button>
    <button class="ui button mini disabled play-act" id="ctrl-next"><i class="forward icon"></i></button>
  </div> -->


  <div class="ui progress tiny" id="play-progress">
    <div class="bar disabled"></div>
    <div class="label" style="font-size: 16px"> <i class="notched circle loading icon"></i> Đang tải thông tin</div>
  </div>

  <br>
  <h3 class="ui header">List nhạc</h3>

  <div class="ui middle aligned divided list playlist" style="text-align: ">
    <div class="ui icon message">
      <i class="notched circle loading icon"></i>
      <div class="content">
        <div class="header">
          Chờ tý
        </div>
        <p>Đang tải thông tin.</p>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/app.js"></script>
{% endblock %}
